.header a {
    margin-right: 20px;
    text-decoration: none;
    color: azure;
}

.header {
    background-color: rgb(91, 91, 255);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.header-link {
    display: flex;
    justify-content: flex-end;
}

.header h3 {
    margin: 0;
}

.padd {
    padding-left: 5%;
    color: yellow;
}